
.article-h{
    display: flex;
    flex-direction: column;
    margin: 0%;
    justify-content: center;
    align-items: center;
}
.h2-sub{
width: 520px;
}
.p-page1{
    width: 440px;
    text-align: center;
    font-weight: 400;
font-size: 28px;
line-height: 33px;
padding: 20px 0px 0px 0px;
}
.button {
    background: #3EB25E;
    border-radius: 35px;
    border: none;
    width: 199px;
    height: 34px;
    border-top: 20px;
    position: relative;
        top: 43px;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-size: 22px;
        text-align: center;
        font-weight: bolder;
        cursor: pointer;
    }
    .content{
        display: flex;
        justify-content: space-around;
        gap: 20px;
    }